html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: #123;
}

a {
  color: rgb(10, 26, 163);
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(231, 227, 227);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 94%;
  margin: 0px 5px 10px 3%;
  position: fixed;
  bottom: 0px;
  /* left: 50%;
  transform: translateX(-50%); */
  z-index: 1000;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 1px 5px 5px grey;
  overflow-y: hidden;
}

.main {
  height: 1000px;
}
.text-box {
  position: absolute;
  top: 9vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: rgba(78, 74, 74, 0.6);
  width: 100%;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  font-size: 8vw;
}

.headshot-container {
  width: 33%;

  mix-blend-mode: darken;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  border-radius: 15px;
}

.home-icon {
  height: 100%;
  width: 50px;
  mix-blend-mode: darken;
  margin-top: 15px;
}

.welcome-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2%;
}

.welcome-text-container {
  border-radius: 15px;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw;

  /* background-color: white; */
}

.slide-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-editor {
  min-height: 400px;
  max-width: 66vw;
  background-color: rgb(255, 255, 255);

  border-radius: 10px;
}
.ql-toolbar {
  max-width: 66vw;
  background-color: rgb(253, 255, 253);
  border-radius: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .welcome-container {
    flex-direction: column;
    font-size: 1.5rem;
  }

  .welcome-text-container {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1054px) {
  .welcome-text-container {
    font-size: 1.2rem;
  }
}
